@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');


:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.1rem;
}

/* .header{
    border: 1px solid black;
} */

.header-content{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration:none ;
    gap: 0.625rem;
}

.logo-icon{
    height: 5.875rem;
    width: 1.938rem;
}

.logo-text{
    font-size: 2rem;
    font-weight: bold;
}

.nav{
    display: none;
    gap: 1.5rem;

}

@media screen and (min-width:768px) {
    .nav{
        display: flex;
    }
}

.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}

.nav-link:hover{
    color: var(--link-color);
}

.contact-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all  0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (min-width:768px) {
    .contact-button{
        display: block;
    }
}

.contact-button:hover{
    background-color: #5254f8;
}

.menu-button{
  display: none;
  border:none;
  border-radius: 0.375rem;
  background-color: var(--background-color);
  font-size: 1rem;
  padding: 0.5rem 0.9rem;
  font-weight: 600;
}

@media screen and (max-width:768px) {
    .menu-button{
        display: block;
      }
}

.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}

.main-section{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}

@media screen and (min-width: 768px){
    .main-section{
        display: flex;
        flex-direction: row;
    }
}
.content-left{
    text-align: left;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
    width: 50%
}

@media  screen and (max-width: 768px) {
    .content-left{
        width: 100%;
        text-align: center;
    }
}

@keyframes  slideFromLeft {
   0%{
    opacity: 0;
    transform: translateX(-100%);
   } 

   100%{
    opacity: 1;
    transform: translateX(0);
   }
}

.section-label{
   color: #5254f8;
   margin-bottom: 15px;
    }
.section-title{
    margin-bottom: 15px;
    font-size: 50px;
}

.section-discription{
    color: #808080;
    margin-bottom: 15px;
    padding-right: 80px;
    margin-bottom: 15px;
}

.start-button{
    color: white;
    background-color: #5254f8;
    font-size: small;
    padding:10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;

}

.Tour-button{
    margin-left: 20px;
    color: white;
    font-size: small;
    background-color: #333333;
    padding:10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}


.section-image{
    height: 500px;
    width: 500px;
    border-radius: 20px;
    animation: imagein 1s;
}

@keyframes  imagein{
    0%{
       opacity: 0;  
    }
    50%{
    opacity: 0;
    }
    
}

.main-section-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media  screen and (max-width:800px) {
    body .main-section-bottom{
        display: none;
    }
}
.main-section-bottom-title{
    margin-top: 20px;
   

}

.main-section-bottom-companies-logos{
    /* background-color: #808080; */
    width: 50%;
    display: flex;
    margin-top: 20px;
    background-color: #9797975d;
    height: 100px;
 /* background-color: #808080; */
 /* height: 400px; */
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    justify-content: space-around;
}

.companies-logo-name{
    
    /* width: 100%;
    /* height: 60px; */
    /* background-color: #9797975d; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

.companies-logo{
    /* margin-right: 0px; */
    height: 30px;
}

.companies-name{
    margin-left: 5px;
}

.main-section-bottom-m-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 800px){
    .main-section-bottom-m-view{
        display: none;
    }
}
.bottom-m-view{
    /* width: 50%; */
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: #9797975d;
    height: 100px;
 /* background-color: #808080; */
 /* height: 400px; */
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 20px;
    /* justify-content: space-around; */
}

.bottom-m-view-1{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;

}

.companies-logo-name-m-view{

}

.companies-logo-name-m-view{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 120px;
}

.companies-logo-m-view{
    height: 30px;
}

.companies-name-m-view{
    /* margin-left: 5px; */
}

.main-section-bottom-title-m-view{
    margin-top: 30px;
}

.cards-box{
    margin-top: 40px;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.cards-title-box{
    width: 800px;
}

.cards-title-top{
    margin-bottom: 20px;
}

.cards-title-discription{
    color: #808080;
}
.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card{
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 300px;
    background-color: #2563eb;
}